//fonts
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;900&display=swap");

// Breakpoints
$lg: 1199px;
$md: 991px;
$sm: 767px;
$xsm: 575px;

$black: #000;
$white: #fff;

//dark
$drak-400: #1e293b;
$dark-500: #0f172a;
$dark-600: #94a3b8;

//gray
$gray-200: #7d8a9e;
$gray-500: #64748b;
$gray-700: #334155;

body {
  background: $drak-400;
}

svg {
  width: 24px;
  height: 24px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

button {
  background-color: transparent;
  width: 35px;
  height: 35px;
  border: none;
  outline: none;
  cursor: pointer;
  color: $dark-600;

  &:hover {
    background: rgba($color: $white, $alpha: 0.1);
    border-radius: 6px;
  }
}

.main-container {
  display: flex;

  .wrapper {
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    padding: 16px;
    border-bottom: 1px solid $gray-700;

    .pathname {
      display: flex;
      align-items: center;

      p {
        font-size: 14px;
        font-weight: 500;
        color: $gray-500;

        &:not(:first-child) {
          color: $dark-600;
        }

        &:not(:last-child) {
          margin-right: 10px;
        }
      }
    }
  }

  main {
    flex: 1;
    padding-top: 64px;
    padding-inline: 16px;

    .container {
      max-width: 700px;
      width: 100%;
      padding: 10px;
      margin: auto;

      h2 {
        font-size: 48px;
        font-weight: 400;
        line-height: 48px;
        color: $white;
      }

      p {
        font-size: 18px;
        line-height: 28px;
        color: $gray-500;
        font-weight: 400;
        margin-top: 25px;
      }
    }
  }

  .sidebar {
    position: sticky;
    top: 0px;
    right: 0px;
    bottom: 0px;
    height: 100vh;

    & > div {
      width: 384px;
      height: 100%;
      background: $dark-500;
    }
  }
}
